<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2>Edit this Listing</h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" >
        <input type="text" name="listing[title]" value="<%= listing.title %>"> 
        <br><br>
        <textarea rows="10" cols="25" type="text" name="listing[description]" ><%= listing.description %></textarea>
        <br><br>
        <input name="listing[image]" value="<%= listing.image %>"> 
        <br><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>"> 
        <br><br>
        <input type="text" name="listing[location]" value="<%= listing.location %>"> 
        <br><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>"> 
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>