<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->
    <ul>
        <% for(let list of allListings){%>
            <li> <a href="/listings/<%= list._id %>"><%= list.title %> </a></li>

            <!-- <li><%= list.description %></li>
            <li> <%= list.price %></li>
            <li><%= list.location %></li>
            <li><%= list.country %></li> -->
        <% } %>
    </ul>

</body>
